NODE_ENV=development
PORT=3000
APP_NAME=Zando243
APP_URL=http://localhost:3000
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=zando243_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_LOG=false
SQLITE_STORAGE=./storage/dev.sqlite
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM="Zando243 <no-reply@zando243.local>"
JWT_ACCESS_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
COOKIE_SECRET=change_me_cookie_secret
SESSION_SECRET=change_me_session_secret
CSRF_ENABLED=true
LOYALTY_POINTS_PER_DOLLAR=1
LOYALTY_MIN_ORDER_FOR_POINTS=10
PAYPAL_CLIENT_ID=AZZrjyqhspccdY2t7A_Xr5mGzZ_8aLXq-W2LKkHDMmc4yK_z2uOgClT2f9XERk5P_NrU9yM7y-vpYzHJ
PAYPAL_CLIENT_SECRET=EGMIBPBPBcnhZC1wUOvm7dwp6YdTT3S1ejXEBUb4clAnlx3FXInxhI_rVZxhRfwU9ONuw1HCxuA0TLoS
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com
PAYPAL_WEBHOOK_ID=03D89105B9887444J
